@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--font-inter: "Inter", "sans-serif";

	/* Swiss Grill Paleta de Cores */
	--color-yellow-bright: #FFD700;
	--color-yellow-gold: #FFCC00;
	--color-black: #000000;
	--color-white: #FFFFFF;
	--color-gray-light: #F5F5F5;
	--color-gray-dark: #333333;
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}

@utility prose {
	h1 {
		font-size: --var(--text-5xl);
	}

	h2 {
		font-size: var(--text-4xl);
	}

	h3 {
		font-size: var(--text-3xl);
	}

	h4 {
		font-size: var(--text-2xl);
	}

	h5 {
		font-size: var(--text-xl);
	}

	h6 {
		font-size: var(--text-lg);
	}

	@variant lg {
		h1 {
			font-size: var(--text-6xl);
		}

		h2 {
			font-size: var(--text-5xl);
		}

		h3 {
			font-size: var(--text-4xl);
		}

		h4 {
			font-size: var(--text-3xl);
		}

		h5 {
			font-size: var(--text-2xl);
		}

		h6 {
			font-size: var(--text-xl);
		}
	}

	pre {
		background-color: transparent;
	}

	p {
		font-size: var(--text-lg);
		line-height: var(--leading-relaxed);
	}

	li {
		font-size: var(--text-lg);
		line-height: var(--leading-relaxed);
	}

	hr {
		border-color: var(--color-gray-dark);
	}

	a {
		color: var(--color-yellow-gold);
		&:hover {
			text-decoration: underline;
		}
	}

	strong {
		font-weight: 700;
	}

	img {
		width: 100%;
	}

	--tw-prose-body: var(--color-gray-light);
	--tw-prose-headings: var(--color-yellow-gold);
	--tw-prose-lead: var(--color-gray-light);
	--tw-prose-links: var(--color-yellow-gold);
	--tw-prose-bold: var(--color-gray-light);
	--tw-prose-counters: var(--color-yellow-gold);
	--tw-prose-bullets: var(--color-yellow-gold);
	--tw-prose-hr: var(--color-gray-dark);
	--tw-prose-quotes: var(--color-gray-light);
	--tw-prose-quote-borders: var(--color-yellow-gold);
	--tw-prose-captions: var(--color-gray-light);
	--tw-prose-code: var(--color-yellow-gold);
	--tw-prose-pre-code: var(--color-gray-light);
	--tw-prose-pre-bg: var(--color-gray-dark);
	--tw-prose-th-borders: var(--color-gray-dark);
	--tw-prose-td-borders: var(--color-gray-dark);
}

html,
body {
	@apply h-full antialiased scroll-smooth;
}

body {
	@apply h-full scroll-smooth font-inter text-gray-light bg-gray-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-bold text-balance break-words;
}

h1,
.h1 {
	@apply text-5xl lg:text-7xl;
}

h2,
.h2 {
	@apply text-5xl lg:text-6xl;
}

h3,
.h3 {
	@apply text-4xl lg:text-5xl;
}

h4,
.h4 {
	@apply text-3xl lg:text-4xl;
}

h5,
.h5 {
	@apply text-2xl lg:text-3xl;
}

h6,
.h6 {
	@apply text-xl lg:text-2xl;
}

p {
	@apply leading-relaxed;
}

.button {
	@apply rounded-full px-4 py-3 text-base transition duration-300 font-bold shadow-sm focus-visible:outline-2 focus-visible:outline-offset-2;
}

.button-yellow {
	@apply bg-yellow-bright hover:bg-yellow-bright/90 text-black focus-visible:outline-yellow-bright;
}

.button-yellow-gold {
	@apply bg-yellow-gold hover:bg-yellow-gold/90 text-black focus-visible:outline-yellow-gold;
}

.button-black {
	@apply bg-black hover:bg-black/80 text-white focus-visible:outline-black;
}

.button-gray-dark {
	@apply bg-gray-dark hover:bg-gray-dark/80 text-white focus-visible:outline-gray-dark;
}

.menu-item-highlighted.menu-item-highlighted {
	@apply text-black bg-yellow-gold px-4 rounded-full py-1.5 hover:bg-yellow-bright hover:text-black transition;
}

.menu-item-active.menu-item-highlighted {
	@apply hover:text-black;
}

.menu-item-active:not(.menu-item-highlighted) {
	@apply text-yellow-gold font-bold;
}

/* Estilos para a paleta de cores */
.bg-yellow-bright-section {
	@apply bg-yellow-bright;
}

.bg-yellow-gold-section {
	@apply bg-yellow-gold;
}

.bg-gray-light-section {
	@apply bg-gray-light;
}

.bg-gray-dark-section {
	@apply bg-gray-dark;
}

.text-yellow-bright {
	@apply text-yellow-bright;
}

.text-yellow-gold {
	@apply text-yellow-gold;
}

.text-gray-dark-text {
	@apply text-gray-dark;
}

[x-cloak] {
	display: none !important;
}

input,
textarea {
	@apply border border-gray-dark/30 rounded-lg px-4 py-3 w-full bg-gray-dark/50 text-gray-light focus:outline-none focus:ring-2 focus:ring-yellow-bright;
}

input::placeholder,
textarea::placeholder {
	@apply text-gray-light/50;
}

label {
	@apply block text-sm/6 font-medium text-gray-light;
}

/* Swiper */
.swiper-pagination-bullet-active.swiper-pagination-bullet-active {
	@apply bg-yellow-gold;
}

/* inter-300 - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/inter/inter-v18-latin-300.woff2") format("woff2");
}
/* inter-300italic - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: italic;
	font-weight: 300;
	src: url("/fonts/inter/inter-v18-latin-300italic.woff2") format("woff2");
}
/* inter-regular - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/inter/inter-v18-latin-regular.woff2") format("woff2");
}
/* inter-italic - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: italic;
	font-weight: 400;
	src: url("/fonts/inter/inter-v18-latin-italic.woff2") format("woff2");
}
/* inter-500 - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/inter/inter-v18-latin-500.woff2") format("woff2");
}
/* inter-500italic - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: italic;
	font-weight: 500;
	src: url("/fonts/inter/inter-v18-latin-500italic.woff2") format("woff2");
}
/* inter-600 - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/inter/inter-v18-latin-600.woff2") format("woff2");
}
/* inter-600italic - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: italic;
	font-weight: 600;
	src: url("/fonts/inter/inter-v18-latin-600italic.woff2") format("woff2");
}
/* inter-700 - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/inter/inter-v18-latin-700.woff2") format("woff2");
}
/* inter-700italic - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: italic;
	font-weight: 700;
	src: url("/fonts/inter/inter-v18-latin-700italic.woff2") format("woff2");
}
/* inter-900 - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 900;
	src: url("/fonts/inter/inter-v18-latin-900.woff2") format("woff2");
}
/* inter-900italic - latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: italic;
	font-weight: 900;
	src: url("/fonts/inter/inter-v18-latin-900italic.woff2") format("woff2");
}

.loader {
	width: 1rem;
	height: 1rem;
	display: block;
	margin-right: 1rem;
	position: relative;
	border: 3px solid #000;
	border-radius: 50%;
	box-sizing: border-box;
	animation: animloader 2s linear infinite;
}
.loader::after {
	content: "";
	box-sizing: border-box;
	width: 2px;
	height: 12px;
	background: #000;
	transform: rotate(-45deg);
	position: absolute;
	bottom: -12px;
	left: 16px;
}

@keyframes animloader {
	0% {
		transform: translate(-8px, -8px);
	}
	25% {
		transform: translate(-8px, 8px);
	}
	50% {
		transform: translate(8px, 8px);
	}
	75% {
		transform: translate(8px, -8px);
	}
	100% {
		transform: translate(-8px, -8px);
	}
}
