---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
import FormBook from "~/components/forms/FormBook.astro";
---

<Layout>
	<Section class:list={"bg-gray-dark"}>
		<Heading>
			<h2 slot="heading-title" class="font-black text-yellow-gold h2">Reservar uma mesa</h2>
			<p slot="heading-content" class="text-pretty text-gray-light">
				Reserve uma mesa para sua próxima refeição. Entraremos em contato para confirmar sua reserva.
			</p>
		</Heading>

		<FormBook />
	</Section>
</Layout>
