---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
import FormContact from "~/components/forms/FormContact.astro";
---

<Layout>
	<Section class:list={"bg-gray-dark"}>
		<Heading>
			<h2 slot="heading-title" class="font-black text-yellow-gold h2">Contato</h2>
			<p slot="heading-content" class="text-gray-light">Fale conosco para qualquer dúvida ou solicitação.</p>
		</Heading>

        <FormContact />
		
	</Section>
</Layout>
