---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
import MenuList from "~/components/Menu.astro";
---

<Layout>
	<Section>
		<Heading>
			<h1 slot="heading-title" class="font-black text-brand-green h2">Nosso cardápio</h1>
			<p slot="heading-content">
				Oferecemos uma variedade de pratos, dos tradicionais aos modernos, para satisfazer todos os gostos.
			</p>
		</Heading>

		<MenuList />
	</Section>
</Layout>
