---
import IconPhone from "~/assets/icons/phone.svg";
import { phone } from "~/data/config";
---

<a
	href={phone.href}
	class="not-prose flex items-center gap-x-3 hover:-translate-y-1 hover:-rotate-1 transition duration-300"
>
	<IconPhone class="bg-yellow-gold rounded-full p-2.5 size-12 text-black" />
	<div>
		<p class="text-base/4 text-gray-light">Nos ligue!</p>
		<span class="text-yellow-gold font-bold text-base/6">{phone.label}</span>
	</div>
</a>
